.off-canvas-header {
  background: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;

  .nav-link svg {
    vertical-align: middle;
  }

  .nav-link {
    font-size: 16px;
    padding: 10px 0;
    transition: transform 0.2s;
    padding-left: 20px;
    background: rgba(0, 187, 97, 0.4);
    border-radius: 15px;
    transition: all 0.2s ease;
  }

  .nav-link:hover,
  .nav-link.active {
    transform: scale(1.04);
    color: rgb(180, 230, 0);
    background: rgba(255, 255, 255, 0.1);
  }
}

.header-scrolled {
  background: rgba(255, 255, 255, 0.01) !important;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  box-shadow: 0 4px 20px rba(0, 0, 0, 0.15) !important;
  padding: 20px;
  position: fixed;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff !important;
}

@media (max-width: 450px) {
  .header-icons {
    gap: 4px;
  }
}

.header {
  top: 0 !important;
  z-index: 300;
  transition: all 0.6s ease;
  color: #000;
  margin: 0 !important;
  background: transparent;
  padding: 20px;
  border: none !important;

  .navbar-brand {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 30px;

    .first-letter {
      color: rgb(163, 207, 4);
    }
    .second-letter {
      color: rgb(196, 250, 1);
    }
    .third-letter {
      color: rgb(0, 241, 0);
    }
  }

  .search-bar {
    align-items: center !important;
    justify-items: center !important;
    width: 100% !important;
    color: rgb(12, 12, 12) !important;
  }

  .search-bar ::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  .form-control {
    max-width: 100%;
    background: rgba(255, 255, 255, 0.12) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 10px !important;
    padding: 6px 14px;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.2) !important;
      border: 1px solid rgba(255, 255, 255, 0.3) !important;
    }
  }

  .form-control:focus {
    outline: none !important;
    box-shadow: none;
  }

  .nav-icons {
    gap: 25px;
    display: flex;
    align-items: center;

    @media (max-width: 450px) {
      gap: 11px;
    }

    .nav-link {
      padding-right: 0 !important;
    }

    a {
      position: relative;
      font-size: 18px;
      color: #fff;
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-2px);
      }
    }

    .badge {
      position: absolute;
      top: -5px;
      right: -2px;
      font-size: 16px;
      padding: 4px 6px;
    }
  }

  .hamburger-button {
    transition: transform 0.2s;
    width: 28px !important;
    margin-right: 13px;

    svg {
      width: 28px !important;
      color: #fff;
    }

    &:hover {
      transform: translateY(-2px);
    }
    &:active {
      transform: rotate(90deg);
    }
  }

  .login-btn {
    background: linear-gradient(135deg, #d7e600, #9dc800);
    border: 1px solid transparent;
    width: 100%;
    color: #fff;
    border-radius: 8px;
    padding: 10px 18px;
    font-family: "bebas Neue";
    font-size: 1.2rem;
    transition: all 0.5s ease;

    &:hover {
      background: rgba(0, 230, 118, 0.15);
      border: 1px solid #c4e600;
      color: #d7e600;
      box-shadow: none;
      padding: 10px 18px;
    }
  }
}
