.profile-container {
  padding: 50px;
  color: #fff;

  p {
    margin: 0;
  }

  .cover-banner {
    position: absolute;
    border: 1px solid #fffb1450;
    background: rgba(15, 15, 15, 0.45);
    left: 0;
    top: 0;
    width: 100%;
    height: clamp(100px, 30vw, 270px);
    border-radius: 22px;
  }

  .cover-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #23a104c2;
    padding: 10px;
    margin: 10px;
    background: rgba(34, 33, 33, 0.562);
    color: rgba(255, 255, 255, 0.719);
    cursor: pointer;
    border-radius: 12px;
  }

  .cover-pic {
    width: 100%;
    object-fit: cover;
    height: clamp(100px, 30vw, 270px);
    overflow: hidden !important;
    border-radius: 22px;
  }

  .verified-badge {
    background: rgba(245, 229, 2, 0.98);
    padding: clamp(7px, 1.2vw, 11px);
  }
}
