.cta {
  border: 0.5px solid #a5c70e69 !important;
  background: #e6ff02 !important;
}

.btn_button {
  border: 0.5px solid #a5c70e69 !important;
  background: #e6ff02 !important;
  border-radius: 12px;
}

.nav_bar {
  @media (min-width: 1400px) and (max-width: 1700px) {
    padding-left: 100px;
  }
}

.dashboard {
  border: 0.5px solid #a5c70e69;
  border-left: 0;
  border-bottom: 0;
  display: flex;
  gap: 0;

  .side_bar {
    cursor: pointer;
    background: #058f333a;
    backdrop-filter: blur(30px);

    .icon {
      &:hover {
        color: #eeff02;
      }
    }
  }

  .alert {
    border: 1px solid #f89500 !important;
    background: #4e30038e !important;
  }

  .earning_card {
    background: linear-gradient(45deg, #1e660cc0, #51ff0086);
    border-radius: 20px;
  }

  .dashboard_body {
    @media (min-width: 1400px) and (max-width: 1700px) {
      padding-left: 100px;
    }
  }

  .top_products {
    background: #7df0b131;
    backdrop-filter: blur(80px);
    border: 0.5px solid #7df0b1c0;
    width: clamp(110px, 25px + 11vw, 150px);

    > div h6 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.stepperBtnStyle {
  background: #0e0d0d !important;
  border-radius: 100%;
  border: none !important;

  &:hover,
  .active {
    background: #00000056 !important;
  }
}
