.hero_section {
  background: linear-gradient(135deg, #022c22 0%, #065f46 40%, #15803d 100%);
  overflow: hidden;
  position: relative;
  padding: 100px 0;

  &::before {
    content: "";
    position: absolute;
    background: #ddb40f91;
    opacity: 0.8;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: -200px;
    right: 200px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: #1dac4a;
    opacity: 1.2;
    border-radius: 50%;
    bottom: -120;
    left: -120;
  }

  .hero-badge {
    background: #facc15 !important;
    border-radius: 30px;

    h6 {
      color: #03361d !important;
      font-weight: 600;
    }
  }

  h1 {
    font-size: 3.7rem;
    font-weight: 800;
    line-height: 1 !important;
  }

  .hero-btn {
    background: #facc15 !important;
    border: none;
    color: #14532d !important;
    font-weight: 700;
  }

  .hero-stat {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    color: #fff !important;

    h3 {
      font-size: 28px;
      font-weight: 700;
      color: #fff;
    }
    span {
      opacity: 0.8;
    }
  }
}

.next-btn {
  background: none;
  border-radius: 50%;
  border: none;

  &:hover {
    background: #ffffff25;
  }
}

.step_active {
  background: #facc15;
  color: #000;
}

.form-control {
  background: none !important;
  border-color: #facc1560 !important;
  color: #fff !important;
  padding: 13px 30px !important;

  &::placeholder {
    color: #d6cfcff5 !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

.form-select {
  background: none !important;
  border-color: #facc1560 !important;
  color: #d6cfcfd4 !important;

  option {
    background: none !important;
    color: #000 !important;
  }
}
