.orders {
  color: #b4b4b4b0;

  input {
    background: transparent;

    border: none;
    width: 100%;
    color: rgba(194, 194, 194, 0.83);
    font-size: 15px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 12px;
      color: #ffffffe7;
      letter-spacing: 1.2px;
    }
  }
}

.modal-content {
  background: #020202 !important;
  color: #ffffffa1 !important;
}

.order-details {
  .item-order {
    img {
      height: 70%;
      width: 100%;
    }
  }

  a {
    &:hover {
      color: #1ef801;
    }
  }
}
