a {
  text-decoration: none;
}

body {
  background: radial-gradient(circle,rgba(77, 77, 5, 0.98), rgba(8, 80, 45, 0.77)100%) !important;
  font-family: "outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 10px;
  font-size: 15px;
  min-height:100vh; 
  scrollbar-width: 8px !important;
  
} 






