a {
  text-decoration: none;
}

body {
 background: linear-gradient(90deg,rgba(19, 18, 18, 0.9), rgba(8, 80, 45, 0.8)) !important;
  font-family: "outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 10px;
  font-size: 15px;
  min-height:100vh; 
  scrollbar-width: 8px !important;
} 






