@use "abstracts/variables";

@use "components/header";
@use "components/product";
@use "components/store";
@use "components/cart";
@use "components/order";
@use "components/Profile";
@use "components/home";
@use "components/settings";
@use "components/wishlist";
@use "components/getstore";
@use "components/help_support";
@use "components/wallet";
@use "components/notification";
@use "components/dashboard";

.mySwiper {
  color: rgba(255, 255, 255, 0.664);
  font-size: 11px;

  .swiper-pagination-bullet-active {
    background: rgb(255, 251, 5) !important;
  }

  .swiper-slide {
    cursor: pointer;
    .border-list {
      opacity: 0;
    }

    .active {
      color: rgb(255, 251, 5);

      .border-list {
        opacity: 1;
      }

      span {
        color: #000;
        background: rgba(245, 229, 2, 0.98) !important;
      }
    }
  }
}

.form-switch {
  &:focus {
    box-shadow: none !important;
  }
  .form-check-input {
    height: 27px !important;
    width: 47px !important;
    border-radius: 15px !important;
    box-shadow: none !important;

    &:focus {
      box-shadow: none !important;
    }

    &:checked {
      background-color: #a8ff059f !important;
      border-radius: 10px;
      border: none;
    }

    &:focus {
      box-shadow: none !important;
    }
  }
}

.filter-tab {
  scroll-behavior: smooth;

  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.form-check-input {
  width: 1.5em !important;
  height: 1.5em !important;
  margin-right: 10px;

  .form-check-input:checked {
    background: #a8ff059f !important;
    border: none !important;
  }
}

.form-check {
  &:focus {
    box-shadow: none !important;
  }
  .form-check-input {
    &:focus {
      box-shadow: none !important;
    }
    &:checked {
      background-color: #a8ff059f !important;
      border: none;
      &:focus {
        box-shadow: none !important;
      }
    }
  }
}

.form-check-label {
  font-size: 20px;
}
