a {
  text-decoration: none;
  color:rgba(194, 194, 194, 0.83) ;
}
p{
  line-height: 18px;
  letter-spacing: 0.7px;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 30px;
  margin: 0;
}



body {
  background: radial-gradient(circle,rgba(49, 49, 1, 0.993)20%, rgb(2, 44, 24)) !important;
  font-family: "outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  min-height:100vh; 
  scrollbar-width: 8px !important;
  margin-top: 70px;
  color: #d8d8d8 !important;
}






